<p>Department: <%= @promotion.department %></p>
<p>Store: <%= @promotion.store %></p>
<p>Type: <%= @promotion.promo_type %></p>
<p>Level: <%= @promotion.level %></p>
<p>Description: <%= @promotion.description %></p>
<p>Start Date: <%= @promotion.start_date %></p>
<p>End Date: <%= @promotion.end_date %></p>

<%#= link_to 'Edit', edit_user_path(@user) %>
<%#= link_to 'Back', users_path %>